html, body {
    height: 100%;
    margin: 0;
    background-color: #060930;
    font-family: helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: row; /* Default to row */
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    padding: 20px;
    gap: 20px;
}

.container {
    background-color: #333456;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 50px;
    width: 90%;
    max-width: 400px;
    border-radius: 10px;
    margin-bottom: 25px;
}
#list-container {
    max-height: 200px; /* Adjust based on the size of your tasks */
    overflow-y: auto; /* Enables vertical scrolling */
}

#list-container li {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

.footer {
    width: 100%;
    color: #F4ABC4;
    text-align: center;
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: 50px;
}

.logo {
    height: auto;
    max-width: 100%;
    margin-bottom: 25px;
    object-fit: contain;
}

.timer {
    color: #F4ABC4;
    font-size: 10vw;
    margin-bottom: 25px;
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
    max-width: 100%;
    text-align: center;
}

button {
    background-color: #595B83;
    border: none;
    margin: 7px;
    padding: 7px 15px;
    color: #F4ABC4;
    border-radius: 10px;
    box-shadow: 0 3px #060930;
    font-weight: 900;
}

li, ul {
    list-style: none;
    padding-inline-start:0px;
}

.media-btn {
    height: 15px;
}

.buttons button:hover,
#input-button:hover {
    background-color: #232442;
}

.buttons button:active,
#input-button:active {
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.3);
}

.progress-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.progress-cat {
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: auto;
    width: auto;
    max-height: 35px;
    max-width: 35px;
    opacity: 0.3;
    transition: opacity 0.5s ease;
    object-fit: contain;
}

@media (max-width: 600px) {
    .wrapper {
        flex-direction: column; /* Stack containers vertically */
    }
    .container {
        padding-top: 30px;
        width: 60%;
        max-width: 200px;
    }
    .timer {
        font-size: 20vw;
        max-width: 100%;
    }
    .logo {
        height: auto;
        max-width: 250px;
        object-fit: contain;
    }
    button {
        margin: 5px;
        padding: 5px 10px;
    }
    .media-btn {
        height: 10px;
    }
    #progress-cat {
        height: auto;
        max-width: 25px;
        max-height: 25px;
        object-fit: contain;
        flex-wrap: nowrap;
    }
    #todo-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 601px) {
    .logo {
        max-height: 200px;
    }
    
    .timer {
        font-size: 75px;
        max-width: 100%;
    }
}

.pomodoro-container {
    display: flex;
    justify-content: center;
  }
  
  .pomodoro-circle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #060930; /* Default color for incomplete pomodoros */
    margin: 0 10px;
    margin-bottom: 30px;
  }
  
  .pomodoro-circle.completed {
    background-color: #F4ABC4; /* Color for completed pomodoros */
  }

  .volume-control {
    margin-top: 20px;
    padding: 15px;
    border-radius: 20px;
    color: #060930;
    background-color: #232442;
    accent-color:#F4abc4;
}

.completed {
    text-decoration: line-through;
}

#todo-list {
    color: #F4ABC4;
}

#input-box {
    background-color: #060930;
    color: #F4ABC4;
    border: none;
}

#input-box:active {
    border-color: #F4ABC4;
}

input[type="checkbox"] {
    accent-color: #F4ABC4
    ;
}

