body {
    background-color: #060930;
    font-family: helvetica,sans-serif;
}

.container {
    background-color: #333456;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 500px;
    border-radius: 10px;
}

.logo {
    height: 150px;
    margin-bottom: 50px;
}

.timer {
    color: #F4ABC4;
    font-size: 45px;
    margin-bottom: 25px;
}

button {
    background-color: #595B83;
    border: none;
    margin: 7px;
    padding: 7px 15px;
    color: #F4ABC4;
    border-radius: 10px;

}

.buttons button:hover {
    background-color: #232442;
}

.buttons button:active {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}