body {
    background-color: #060930;
    font-family: helvetica,sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    background-color: #333456;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 50px;
    width: 400px;
    border-radius: 10px;
}

.logo {
    height: 150px;
    margin-bottom: 25px;
}

.timer {
    color: #F4ABC4;
    font-size: 75px;
    margin-bottom: 25px;
    font-family: "Jersey 20", sans-serif;
    font-weight: 400;
    font-style: normal;
}

button {
    background-color: #595B83;
    border: none;
    margin: 7px;
    padding: 7px 15px;
    color: #F4ABC4;
    border-radius: 10px;
    box-shadow: 0 3px #060930;

}

.media-btn {
    height: 15px;
}



.buttons button:hover {
    background-color: #232442;
}

.buttons button:active {
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.3);
}
.progress-container {
    display: flex;
    align-items: center;
    flex-direction: row;
}

#progress-cat {
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: 35px;
    opacity: 0.3;
    transition: opacity 0.5s ease;
}